.experience {
  display: flex;
  flex-direction: column;
  padding: 144px 440px 126px 440px;

  .header {
    display: flex;
    align-items: center;
    gap: 8px;

    .title {
      color: #c5c5c5;
      font-size: 32px;
      font-weight: 500;
    }

    .divider {
      height: 1px;
      width: 100%;
      background-color: #afc3ab;
    }
  }

  .body {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;

    .experience-tab {
      width: 320px;
    }

    .experience-icon {
      display: flex;
      justify-content: center;

      .polygon {
        width: 80px;
        height: 80px;

        .polygon-inner {
          width: 76px;
          height: 76px;
        }
      }

      &.coinflip {
        .polygon {
          animation: coinflip 0.5s forwards;
        }
      }
    }
  }
}


@keyframes coinflip {
  0% {
    transform: rotateY(0deg);
  }
  40% {
    transform: rotateY(120deg);
  }
  60% {
    transform: rotateY(240deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}