.tab {
  width: 100%;

  .tab-header {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.5px solid #c5c5c5;
    padding-bottom: 5px;

    .tab-header-title {
      color: #c5c5c5;
      font-size: 16px;
      font-weight: 500;
      transition: all 0.5s;
      cursor: pointer;

      &.active {
        color: #BB8A52;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2.5px;
          background-color: #BB8A52;
          bottom: -6.5px;
          left: 0;
        }
      }
    }
  }
}
