.tab {
  width: 100%;

  .tab-header {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #c5c5c5;
    padding: 0 16px 5px 16px;

    .tab-header-title {
      color: #c5c5c5;
      font-size: 16px;
      font-weight: 500;
      transition: all 0.5s;
      cursor: pointer;

      &.active {
        color: #bb8a52;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2.5px;
          background-color: #bb8a52;
          bottom: -6.5px;
          left: 0;
        }
      }
    }
  }

  .tab-body {
    flex-direction: column;
    padding: 16px;
    display: none;

    &.active {
      display: flex;

      &.fadeIn {
        opacity: 0;
        animation: fadeInUp 0.5s ease-in forwards;
      }
    }

    .tab-body-list {
      display: flex;
      flex-direction: column;
      .tab-body-title {
        color: #afc3ab;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
      }

      .tab-body-date {
        color: #c5c5c5;
        font-size: 13px;
        font-weight: 500;
      }

      .tab-body-description {
        display: flex;
        gap: 8px;
        color: #c0c0c0;
        font-size: 12px;
        font-weight: 500;

        img {
          padding-top: 4px;
        }
      }
    }

    .divider-container {
      margin: 12px 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      justify-content: center;
      .divider {
        width: 2px;
        height: 18px;
        background-color: #c5c5c5;
      }
    }
  }
}

@keyframes fadeInUp {
  from {
      transform: translate3d(0,8px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}